body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background: #202020;
  color: #F0F0F0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a {
  color: #F0F0F0;
}

input {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  font-size: 1rem;
}

.container {
  width: 90vw;
  max-width: 480px;
  margin: 0 auto;
}

